main {
    display: grid;
    justify-items: center;
    grid-gap: 30px;
}

#nav-items {
    grid-column: 1;
    grid-row: 1;
}

#big-pic img {
    grid-column: 1;
    grid-row: 2;
    height: 450px;
    width: 960px;
}

#ident-pics img {
    grid-column: 1;
    grid-row: 3;
    height: 375px;
    width: 300px;
    margin-right: 13px;
    margin-left: 13px;

}

#para-pic img{
    grid-column: 1;
    grid-row: 4;
    transform: translate(-240px, 0px);
}

#para-info {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    transform: translate(720px, -505px);
    overflow: scroll;
}

button {
    grid-column: 1;
    grid-row: 5;
    height: 35px;
    width: 135px;
}